Source: easystroke
Section: misc
Priority: extra
Maintainer: Thomas Jaeger <ThJaeger@gmail.com>
Build-Depends: debhelper (>= 6), libboost-serialization-dev, libgtkmm-2.4-dev, libxtst-dev, libxi-dev, libxrandr-dev, libxml2-utils, python2.5
Standards-Version: 3.8.0
Homepage: http://easystroke.sourceforge.net

Package: easystroke
Architecture: any
Depends: libboost-serialization1.34.1 | libboost-serialization1.35.0, libgtkmm-2.4-1c2a, libxext6
Suggests: xautomation, cellwriter
Description: gesture recognition program
 Easystroke is a gesture-recognition application for X11. It aims to be highly
 configurable while at the same time providing an intuitive user interface. It
 was designed with a Tablet PC in mind, but it also works well with a mouse.
